* {
    margin: 0;
    padding: 0;
    background-color: black;
}
header {
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.title {
    text-align: center;
    font: normal normal 500 50px / 59px Raleway, sans-serif;
    width: 221px;
    height: 59px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.iguana {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.8125em;
    margin-left: 9.375em;
    margin-right: 9.375em;
    margin-bottom: 4.125em;
}
.articulo {
    display: inline-block;
    font: normal normal 300 16px/19px Raleway;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 29.69em;
    text-align: left;
    margin-right: 7em;
    
}
.iguana_1 {
    width: 25em;
}
section {
    background-color: #1E1A13;
    align-items: center;
    justify-content: center;
    padding-top: 5em;
}
h2 {
    font: 500 40px / 47px Raleway;
    color: #FFFFFF;
    background-color: #1E1A13;
    text-align: center;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    background-color: #1E1A13;

}
.fa-eye {
    font-size: 3.5em;
    color: #FFFFFF;
    background-color: #1E1A13;
}
.fa-hand-peace {
    font-size: 3.5em;
    color: #FFFFFF;
    background-color: #1E1A13;
    margin-left: 4em;
    margin-right: 4em;
}
.fa-paintbrush {
    font-size: 3.5em;
    color: #FFFFFF;
    background-color: #1E1A13;
}
.name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1A13;
    margin-top: 1.2em;
    padding-bottom: 5em;
}
.ojo {
    color: #FFFFFF;
    font: normal normal 300 24px/29px Raleway;
    background-color: #1E1A13;
    margin-right: 3.8em;
    margin-left: 3em;
}
.pacificas {
    color: #FFFFFF;
    font: normal normal 300 24px/29px Raleway;
    background-color: #1E1A13;
    margin-right: 2em;
    margin-left: 4em;
}
.color {
    color: #FFFFFF;
    font: normal normal 300 24px/29px Raleway;
    background-color: #1E1A13;
    margin-left: 4em;
    margin-right: 1em;
}
.pictures {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4em;
    padding-bottom: 4em;
}
.iguana_2 {
    border: 0.5em solid;
    width: 19.75em;
    height: 12.625em;
}
.iguana_3 {
    border: 0.5em solid;
    width: 19.75em;
    height: 12.625em;
}
.iguana_4 {
    border: 0.5em solid;
    width: 19.75em;
    height: 12.625em;
}
.vinculo {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #1E1A13;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    
}
.link {
    font: 300 20px/24px Raleway;
    color: #FFFFFF; 
    background-color: #1E1A13;
    text-decoration: none;
}